
body, html {
  height: 100%;
  margin: 0px;
}

.bg { 
  width: 100%;
  background-image: url("/background.JPG");
  z-index: 3;
  height: 120vh; 
  margin: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; s
  z-index: 1;
}

h1 {
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 200px;
  text-transform: uppercase;
  padding-left: 500px;
  padding-top: 850px;
  color: white;
  margin: 0px;
  }

p {
  font-family: "helvetica"; 
  font-size: 60px;
  margin: 0 auto;
  padding-left: 500px;
  padding-top: 25px;
  color: white;

}

.myResume {
  font-family: "Arial";
  font-weight: bold;
  font-size: 100px;
  text-decoration: none;
  color: grey;
  font-variant: small-caps;
  text-align: left;
}

.resume {
  border-radius: 20px;
  background-color: white;
  padding: 14px 28px 28px;
  cursor: pointer;
  width: 500px;
  margin: auto;
  margin-top: -1000px;
  z-index: 5;
  text-align: center;
}

.resume:hover {
  padding: 29px 43px 43px;
}

.social {
  padding-top: 50px;
  text-align: center;
}

.fa {
  text-decoration: none;
  display: inline-block;
  padding: 47px 47px;
  border-radius: 70px;
  margin: 20px;
  }

.fa-instagram {
  background: white;
  color: grey;
  max-width: 150px
  font-size: 400px;
}

.fa-linkedin {
  background: white;
  color: grey;
  max-width: 150px

}

.fa-envelope-o {
  background: white;
  color: grey;
  max-width: 150px
}

.fa:hover {
padding: 55px 55px;
  border-radius: 80px;
}

