body, html {
  height: 100%;
  margin: 0px;
}

.bg { 
  width: 100%;
  background-image: url("background.mobile.grey.jpg");
  z-index: 3;
  height: 120vh; 
  margin: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; s
  z-index: 1;
}

h1 {
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 80px;
  color: white;
  margin: 0px;

  }

p {
  font-family: "helvetica"; 
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  line-height: 4pt;
  color: white;
  width: 300px;

}

.myResume {
  font-family: "Arial";
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  color: grey;
  font-variant: small-caps;
  text-align: left;
}

.resume {
  border-radius: 5px;
  background-color: white;
  padding: 5px 10px 10px;
  cursor: pointer;
  width: 125px;
  margin: auto;
  margin-top: -300px;
  z-index: 5;
  text-align: center;
}

.resume:hover {
  padding: 8px 13px 13px;
}

.social {
  padding-top: 12px;
  text-align: center;
}

.fa {
  text-decoration: none;
  display: inline-block;
  padding: 14px 14px;
  border-radius: 30px;
  margin: 15px;
  }

.fa-instagram {
  background: white;
  color: grey;
  max-width: 38px
}

.fa-linkedin {
  background: white;
  color: grey;
  max-width: 38px

}

.fa-envelope-o {
  background: white;
  color: grey;
  max-width: 38px
}

.fa:hover {
padding: 16px 16px;
  border-radius: 40px;
}


@media only screen and (min-width: 1000px) {

body, html {
  height: 100%;
  margin: 0px;
}

.bg { 
  width: 100%;
  background-image: url("background.grey.JPG");
  z-index: 3;
  height: 120vh; 
  margin: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; s
  z-index: 1;
}

h1 {
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 125px;
  padding-top: 200px;
  color: white;
  margin: 0px;
  }

p {
  font-family: "helvetica"; 
  font-size: 15px;
  margin-left: 0;
  margin-right: auto;
  line-height: 15pt;
  padding-left: 125px;
  color: white;
}

.myResume {
  font-family: "Arial";
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  color: grey;
  font-variant: small-caps;
  text-align: left;
}

.resume {
  border-radius: 5px;
  background-color: white;
  padding: 5px 10px 10px;
  cursor: pointer;
  width: 125px;
  margin: auto;
  margin-top: -300px;
  z-index: 5;
  text-align: center;
}

.resume:hover {
  padding: 8px 13px 13px;
}

.social {
  padding-top: 12px;
  text-align: center;
}

.fa {
  text-decoration: none;
  display: inline-block;
  padding: 14px 14px;
  border-radius: 30px;
  margin: 15px;
  }

.fa-instagram {
  background: white;
  color: grey;
  max-width: 38px
}

.fa-linkedin {
  background: white;
  color: grey;
  max-width: 38px

}

.fa-envelope-o {
  background: white;
  color: grey;
  max-width: 38px
}

.fa:hover {
padding: 16px 16px;
  border-radius: 40px;
}
}

